<div class="bg-primary border border-dark">
  
    <h1 class="text-center text-uppercase fs-1" style="padding:10px;">My Personal Website</h1>

</div>

<div class="container">
  <br>
  <div class="row">
    <div class="col-xs-3">
      <div class="card" style="width: 18rem;">
        <img src="https://scontent.fmnl25-5.fna.fbcdn.net/v/t39.30808-6/399657488_3284046615232251_1817620273839075853_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeFd41jFfsN-Frc3I8siTAM1vsATEHpYQYK-wBMQelhBgvkGXJDzsamDVX4-tgcRwj3QZvk2rkkYl6nAJERtxrZQ&_nc_ohc=s831UwLBd3sAX9Ld9fS&_nc_ht=scontent.fmnl25-5.fna&oh=00_AfCH9VOdC8CrD8SP67lr7yht6srcxXm42EbCL3KebZwMOw&oe=65B0C283" class="card-img-top" alt="..." style="width: 250px;">
      </div>
    </div>
      <div class="col-xs-3">
      <div class="card" style="width: 18rem;">
        <app-personalinfo></app-personalinfo>
      </div>
    </div>
      <div class="col-xs-3">
      <div class="card" style="width: 18rem;">
        <app-contactinfo></app-contactinfo>
      </div>
    </div>
      <div class="col-xs-3">
      <div class="card" style="width: 18rem;">
        <app-work></app-work>
      </div>
    </div>

    </div>
</div>
<app-educbg></app-educbg>